<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__info">
        <img src="assets/logo-white.png" alt="Marlin Logo" />
        <p>Copyright &copy; Marlin 2025</p>
        <p>Política de Privacidade</p>
        <p>Todos os direitos reservados</p>
      </div>
      <div class="footer__social">
        <a href="#" class="footer__social-icon">
          <ng-icon name="bootstrapTwitterX" />
        </a>
        <a href="#" class="footer__social-icon">
          <ng-icon name="bootstrapInstagram" />
        </a>
        <a href="#" class="footer__social-icon">
          <ng-icon name="bootstrapFacebook" />
        </a>
        <a href="#" class="footer__social-icon">
          <ng-icon name="bootstrapYoutube" />
        </a>
        <a href="#" class="footer__social-icon">
          <ng-icon name="bootstrapLinkedin" />
        </a>
      </div>
    </div>
  </div>
</footer>