<main class="main">
  <!-- NAVBAR -->
  <app-header></app-header>

  <!-- HERO SECTION -->
  <section id="inicio" class="main__hero">
    <div class="main__hero-container">
      <div class="main__hero-content">
        <h1 class="main__hero-content-title">Marlin Odontológico</h1>
        <p class="main__hero-content-text">
          Planos de saúde odontológico com custos acessíveis feitos na medida
          certa!
        </p>
        <p class="main__hero-content-price">
          A partir de <br /><strong>R$ 30,00</strong>
        </p>
        <a href="#planos" class="main__hero-content-cta">Ver Planos!</a>
      </div>
      <div class="main__hero-image">
        <div class="main__hero-image-container">
          <img
            src="assets/smiling_people.webp"
            alt="Imagem do banner principal"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- PLAN VIEWER -->
  <section id="planos" class="main__section">
    <app-plans></app-plans>
  </section>
  <!-- CONTACT FORM -->
  <section id="contato" class="main__section">
    <app-contact-form></app-contact-form>
  </section>
  <!-- FOOTER -->
  <app-footer></app-footer>
</main>